@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row shadow rounded">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner h-100">
                    <div class="carousel-item active h-100">
                        <img src="./Image/carousel/Burger.jfif" class="d-block w-100 h-100" alt="Recipe4">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="./Image/carousel/img2.jpg" class="d-block w-100 h-100" alt="Recipe2">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="./Image/carousel/img3.jpg" class="d-block w-100 h-100" alt="Recipe3">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-3">
                <h2>Get the best recipes from all over the globe.</h2>
            </div>
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-seedling text-success mx-2 fs-4"></i></span>
                <span class="fs-5 text-dark fst-italic">Fresh Food</span>
            </div>
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-wheat-awn text-success mx-2 fs-4"></i></span>
                <span class="fs-5 text-dark fst-italic">Healthy Meal</span>
            </div>
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-thumbs-up text-success mx-2 fs-4"></i></span>
                <span class="fs-5 text-dark fst-italic">Easy Recipe</span>
                <p class="py-2 fst-italic">Easy to follow at home</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 mb-3">
            <h2 class="text-dark fst-italic">Today's Special</h2>
            <div id="todaySpecial" class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="shadow rounded card dishCard">
                        <img class="imgHeight" src="https://forkify-api.herokuapp.com/images/BBQChickenPizzawithCauliflowerCrust5004699695624ce.jpg" alt="dish" />
                        <div class="card-body">
                            <a class="link" href="https://www.indianhealthyrecipes.com/pizza-recipe-make-pizza/">Pizza</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="shadow rounded card dishCard">
                        <img class="imgHeight" src="https://forkify-api.herokuapp.com/images/gelatin_poke_cake2d07.jpg" alt="dish" />
                        <div class="card-body">
                            <a class="link" href="https://www.allrecipes.com/recipe/17481/simple-white-cake/">Cake</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="shadow rounded card dishCard">
                        <img class="imgHeight" src="https://forkify-api.herokuapp.com/images/4686_MEDIUM0e58.jpg" alt="dish" />
                        <div class="card-body">
                            <a class="link" href="https://www.indianhealthyrecipes.com/poha-recipe-kanda-batata-poha/">Poha</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mb-3">
        <div id="todaySpecial" class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="shadow rounded card dishCard">
                    <img class="imgHeight" src="https://forkify-api.herokuapp.com/images/1162_MEDIUMcce4.jpg" alt="dish" />
                    <div class="card-body">
                        <a class="link" href="https://www.indianhealthyrecipes.com/tandoori-chicken-recipe/">Tandoori</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="shadow rounded card dishCard">
                    <img class="imgHeight" src="https://forkify-api.herokuapp.com/images/frenchtoast300x200b2da65d4.jpg" alt="dish" />
                    <div class="card-body">
                        <a class="link" href="https://tastesbetterfromscratch.com/classic-french-toast/">French Toast</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="shadow rounded card dishCard">
                    <img class="imgHeight" src="https://forkify-api.herokuapp.com/images/6005198000_e154cac62e_oc725.jpg" alt="dish" />
                    <div class="card-body">
                        <a class="link" href="https://www.indianhealthyrecipes.com/masoor-dal-recipe/">French Toast</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mb-3">
        <div id="todaySpecial" class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="shadow rounded card dishCard">
                    <img class="imgHeight" src="https://forkify-api.herokuapp.com/images/1733_MEDIUM2ee0.jpg" alt="dish" />
                    <div class="card-body">
                        <a class="link" href="https://www.allrecipes.com/recipe/229166/grilled-veggie-skewers/">Skewers</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="shadow rounded card dishCard">
                    <img class="imgHeight" src="https://forkify-api.herokuapp.com/images/5295235490_b46b358620_oc9fb.jpg" alt="dish" />
                    <div class="card-body">
                        <a class="link" href="https://www.recipetineats.com/garlic-prawns-shrimp/">Prawns</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="shadow rounded card dishCard">
                    <img class="imgHeight" src="https://forkify-api.herokuapp.com/images/sliders089d.jpg" alt="dish" />
                    <div class="card-body">
                        <a class="link" href="https://www.indianhealthyrecipes.com/recipes/chicken-recipes/">Spicy Chicken</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mb-3">
        <div id="todaySpecial" class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="shadow rounded card dishCard">
                    <img class="imgHeight" src="https://forkify-api.herokuapp.com/images/tortellinisalad2811f.jpg" alt="dish" />
                    <div class="card-body">
                        <a class="link" href="https://www.allrecipes.com/recipe/214947/perfect-summer-fruit-salad/">Fruit salad</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="shadow rounded card dishCard">
                    <img class="imgHeight" src="https://forkify-api.herokuapp.com/images/sweetpotatowedges_83345_16x9d54d.jpg" alt="dish" />
                    <div class="card-body">
                        <a class="link" href="https://www.indianhealthyrecipes.com/dry-fruits-laddu/">Dried Friuts</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="shadow rounded card dishCard">
                    <img class="imgHeight" src="https://forkify-api.herokuapp.com/images/8257_MEDIUM3ebc.jpg" alt="dish" />
                    <div class="card-body">
                        <a class="link" href="https://www.indianhealthyrecipes.com/mango-pickle-recipe/">Pickle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
