html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 1px;
}

.text-pink {
    color: #ff1448 !important;
}

.nav-link {
    letter-spacing: 2px:
}

#carouselExampleSlidesOnly {
    height: 400px;
}

footer {
    background-color: #0d243d;
    height: 220px;
}

header {
    z-index: 1000;
}

.dishCard {
    height: 310px;
    cursor: pointer;
}

.imgHeight {
    height: 260px
}

#recipe-list {
    top: 5rem;
}

.recipe-item:hover {
    background-color: aquamarine
}
.link{
    font-size:20px
}